@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  body{
    cursor: none;
  }
  .cursor-dot, .cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9;
    pointer-events: none;
    mix-blend-mode: multiply;
  }
  .text-balance {
    text-wrap: balance;
  }
  .text-primary {
    color: #5e37ff;
  }
  .bg-primary {
    background-color: #5e37ff;
  }
  .bg-secondary {
    background-color: #f6f8fe;
  }
  .text-secondary {
    color: #f6f8fe;
  }
}
